<div class='search'>
    <form method='get' action='/infor'>
        <div class='form-group'>
            <input type='text' name='fullname' />
            <input type='text' name='age' />
            <input
                type='text'
                name='search'
                class='form-control'
                placeholder='Enter...'
                id='search'
            />
            <select name='gender'>
                <option value='select gender'>select gender</option>
                <option value='boy'>boy</option>
                <option value='girl'>girl</option>
            </select>
        </div>
        <button type='submit' class='btn btn-primary'>search</button>
    </form>
</div>